<!DOCTYPE html>
<html>
    <head>
        {{ template "head.tmpl" . }}
        <link rel="stylesheet" href="//cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/datatables-custom.css">
        <style media="screen">
            .dataTables_wrapper table thead{
                display:none;
            }
            table.dataTable {
                border-collapse: collapse !important;
            }
        </style>
        <title>Admin</title>
    </head>
    <body>
        {{ template "admin-navbar.tmpl" . }}

        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-xl-12">
                    <div class="panel panel-default">
                        <div class="panel-heading clearfix">
                            Questions
                            <button class="btn btn-primary btn-xs pull-right" data-toggle="modal" data-target="#questionModal">Add</button>
                        </div>
                        <div class="panel-body">
                            <table id="questions" class="table table-bordered table-hover" width="100%">
                                <thead>
                                    <tr>
                                        <th>q</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{ range $question := .questions }}
                                        <tr class="clickable" data-url="/admin/question/{{ $question.Id }}/response">
                                            <td>{{ $question.Q }}</td>
                                            <td class="text-center"><button class="btn btn-primary btn-xs questionEdit" data-question="{{ toBase64Json $question }}">Edit</button></td>
                                        </tr>
                                    {{ end }}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        {{ template "scripts.tmpl" . }}

        {{ template "question-form.tmpl" . }}

        <script src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js" charset="utf-8"></script>
        <script src="//cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js" charset="utf-8"></script>
        <script src="/static/js/datatables-custom.js" charset="utf-8"></script>

        <script type="text/javascript">
            var table = $('#questions').DataTable({
                "lengthMenu": [5, 10, 15, 20],
                "pageLength": 10
            })
        </script>

    </body>
</html>
