<!DOCTYPE html>
<html>
    <head>
        {{ template "head.tmpl" . }}

        <title>Admin</title>
    </head>
    <body>
        {{ template "admin-navbar.tmpl" . }}

        {{ template "scripts.tmpl" . }}

    </body>
</html>
