<!DOCTYPE html>
<html>
    <head>
        {{ template "head.tmpl" . }}
        <link rel="stylesheet" href="//cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/datatables-custom.css">

        <title>Admin</title>
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Web App</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                     <ul class="nav navbar-nav navbar-right">
                        <li><a href="/account">My Account</a></li>
                        <li><a href="/logout">Logout</a></li>
                    </ul>

                </div>
            </div>
        </nav>

        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-xl-12">
                    <div class="panel panel-default">
                        <div class="panel-heading clearfix">
                            Questions
                            <button class="btn btn-primary btn-xs pull-right" data-toggle="modal" data-target="#add">Add</button>
                        </div>
                        <table id="questions" class="table table-bordered table-hover" width="100%">
                            <thead>
                                <tr id="search">
                                    <th>q</th>
                                </tr>
                                <tr>
                                    <th>Q</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{ range $question := .questions }}
                                    <tr class="clickable">
                                        <td>{{ $question.Q }}</td>
                                    </tr>
                                {{ end }}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="add" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Add Question</h4>
                    </div>
                    <div class="modal-body">
                        <form class="" action="/admin/question" method="post">
                            <div class="form-group">
                                <label>Question</label>
                                <textarea class="form-control" name="q" rows="4"></textarea>
                            </div>
                            <button class="btn btn-success btn-block" name="button">Save</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>

        {{ template "scripts.tmpl" . }}

        <script src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js" charset="utf-8"></script>
        <script src="//cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js" charset="utf-8"></script>
        <script src="/static/js/datatables-custom.js" charset="utf-8"></script>

        <script type="text/javascript">
            var table = $('#question').DataTable({
                "lengthMenu": [5, 10, 15, 20],
                "pageLength": 10,
                "columnDefs": [
                    { "orderable": false,    "targets": [0] },
                    { "name": "q",        "targets": 0 }
                ]
            })
        </script>

    </body>
</html>
