<!DOCTYPE html>
<html>
    <head>
        {{ template "head.tmpl" . }}
        <link rel="stylesheet" href="//cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/datatables-custom.css">

        <title>Admin</title>
    </head>
    <body>
        {{ template "admin-navbar.tmpl" . }}

        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-xl-12">
                    <ol class="breadcrumb">
                        <li><a href="/admin/area">Areas</a></li>
                        <li class="active">{{ .area.Name }}</li>
                        <button class="btn btn-primary btn-xs pull-right areaEdit" data-area="{{ toBase64Json .area }}">
                            <i class="fa fa-pencil"></i>
                        </button>
                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-xl-6">
                    <div class="panel panel-default">
                        <div class="panel-heading clearfix">
                            Elements
                        </div>
                        <div class="panel-body">
                            <table id="elements" class="table table-bordered table-hover" width="100%">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{ $area := .area }}
                                    {{ range $element := .elements }}
                                        <tr class="clickable" data-url="/admin/area/{{ $area.Id }}/element/{{ $element.Id }}/question">
                                            <td>{{ $element.Name }}</td>
                                            <td>{{ $element.Description }}</td>
                                            <td class="text-right">
                                                <a class="btn btn-danger btn-xs confirm-action" data-id="{{ $element.Id }}" data-message="Are you sure you would like to remove this {{ $element.Name }} from this {{ $.area.Name }}?" data-color="#ff0000" data-url="/admin/area/{{ $area.Id }}/element/remove" data-type="warning">
                                                    <i class="fa fa-trash"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    {{ end }}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-xl-6">
                    <div class="panel panel-default">
                        <div class="panel-heading clearfix">
                            Other Elements
                            <button class="btn btn-primary btn-xs pull-right" data-toggle="modal" data-target="#elementModal">New</button>
                        </div>
                        <div class="panel-body">
                            <table id="otherElements" class="table table-bordered table-hover" width="100%">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <td colspan="3">
                                            <form class="multi-form" action="/admin/area/{{ $area.Id }}/element/add" method="post">
                                                <input class="multi-input" type="hidden" name="elementIds">
                                                <button class="btn btn-success btn-xs disabled pull-right multi-submit" type="button">Add Selected</button>
                                            </form>
                                        </td>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    {{ range $element := .otherElements }}
                                        <tr>
                                            <td>{{ $element.Name }}</td>
                                            <td>{{ $element.Description }}</td>
                                            <td class="text-right">
                                                <button class="btn btn-default btn-xs multi" data-value="{{ $element.Id }}">
                                                    <i class="fa fa-plus"></i>
                                                </button>
                                                <button type="button" class="btn btn-primary btn-xs elementEdit" data-element="{{ toBase64Json $element }}">
                                                    <i class="fa fa-pencil"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    {{ end }}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{ template "scripts.tmpl" . }}

        {{ template "area-form.tmpl" . }}
        {{ template "element-form.tmpl" . }}

        <script src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js" charset="utf-8"></script>
        <script src="//cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js" charset="utf-8"></script>
        <script src="/static/js/datatables-custom.js" charset="utf-8"></script>
        <script src="/static/js/multi-select.js" charset="utf-8"></script>

        <script type="text/javascript">
            $('#elements').DataTable({
                "lengthMenu": [5, 10, 15, 20],
                "pageLength": 10,
                "columnDefs": [
                    { "orderable": false,    "targets": [1,2] }
                ]
            });

            $('#otherElements').DataTable({
                "lengthMenu": [5, 10, 15, 20],
                "pageLength": 10,
                "columnDefs": [
                    { "orderable": false,    "targets": [1,2] }
                ]
            });

            confirm.yes = function(btn) {
                $('<form method="post" action="' + btn.attr('data-url') + '"><input name="elementId" value="'  + btn.attr('data-id') +  '"></form>').appendTo('body').submit();
            }

        </script>

    </body>
</html>
