<!DOCTYPE html>
<html>
    <head>
        {{ template "head.tmpl" . }}
        <link rel="stylesheet" href="//cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/datatables-custom.css">

        <title>Admin</title>
    </head>
    <body>
        {{ template "admin-navbar.tmpl" . }}

        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-xl-12">
                    <ol class="breadcrumb">
                        <li><a href="/admin/area">Areas</a></li>
                        <li class="active">{{ .area.Name }}</li>
                        <button class="btn btn-primary btn-xs pull-right areaEdit" data-area="{{ toBase64Json .area }}">Edit</button>
                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-xl-6">
                    <div class="panel panel-default">
                        <div class="panel-heading clearfix">
                            Elements
                        </div>
                        <div class="panel-body">
                            <table id="elements" class="table table-bordered table-hover" width="100%">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{ $area := .area }}
                                    {{ range $element := .elements }}
                                        <tr class="clickable" data-url="/admin/area/{{ $area.Id }}/element/{{ $element.Id }}/question">
                                            <td>{{ $element.Name }}</td>
                                            <td>{{ $element.Description }}</td>
                                            <td class="text-center">
                                                <form action="/admin/area/{{ $area.Id }}/element/remove" method="post">
                                                    <input type="hidden" name="elementId" value="{{ $element.Id }}">
                                                    <button class="btn btn-danger btn-xs">Remove</button>
                                                </form>
                                            </td>
                                        </tr>
                                    {{ end }}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-xl-6">
                    <div class="panel panel-default">
                        <div class="panel-heading clearfix">
                            Other Elements
                        </div>
                        <div class="panel-body">
                            <table id="otherElements" class="table table-bordered table-hover" width="100%">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{ range $element := .otherElements }}
                                        <tr>
                                            <td>{{ $element.Name }}</td>
                                            <td>{{ $element.Description }}</td>
                                            <td class="text-center">
                                                <form action="/admin/area/{{ $area.Id }}/alement/add" method="post">
                                                    <input type="hidden" name="elementIds" value="{{ $element.Id }}">
                                                    <button class="btn btn-success btn-xs">Add</button>
                                                </form>
                                            </td>
                                        </tr>
                                    {{ end }}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{ template "scripts.tmpl" . }}

        {{ template "element-form.tmpl" . }}

        {{ template "area-form.tmpl" . }}

        <script src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js" charset="utf-8"></script>
        <script src="//cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js" charset="utf-8"></script>
        <script src="/static/js/datatables-custom.js" charset="utf-8"></script>

        <script type="text/javascript">
            $('#elements').DataTable({
                "lengthMenu": [5, 10, 15, 20],
                "pageLength": 10,
                "columnDefs": [
                    { "orderable": false,    "targets": [1,2] }
                ]
            });

            $('#otherElements').DataTable({
                "lengthMenu": [5, 10, 15, 20],
                "pageLength": 10,
                "columnDefs": [
                    { "orderable": false,    "targets": [1,2] }
                ]
            });
        </script>

    </body>
</html>
