<!DOCTYPE html>
<html>
    <head>
        {{ template "head.tmpl" . }}
        <link rel="stylesheet" href="//cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/datatables-custom.css">

        <title>Admin</title>
    </head>
    <body>
        {{ template "admin-navbar.tmpl" . }}

        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-xl-12">
                    <ol class="breadcrumb">
                        <li><a href="/admin/element">Elements</a></li>
                        <li class="active">{{ .element.Name }}</li>
                        <button class="btn btn-primary btn-xs pull-right elementEdit" data-element="{{ toBase64Json .element }}">
                            <i class="fa fa-pencil"></i>
                        </button>
                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-xl-6">
                    <div class="panel panel-default">
                        <div class="panel-heading clearfix">
                            Areas
                        </div>
                        <table id="areas" class="table table-bordered table-hover" width="100%">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {{ $element := .element }}
                                {{ range $area := .areas }}
                                    <tr class="clickable" data-url="/admin/element/{{ $element.Id }}/area/{{ $area.Id }}/question">
                                        <td>{{ $area.Name }}</td>
                                        <td>{{ $area.Description }}</td>
                                        <td class="text-right no-click">
                                            <a class="btn btn-danger btn-xs confirm-action" data-id="{{ $area.Id }}" data-message="Are you sure you would like to remove this {{ $element.Name }} from {{ $area.Name }}?" data-color="#ff0000" data-url="/admin/element/{{ $element.Id }}/area/remove" data-type="warning">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {{ end }}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="col-lg-6 col-xl-6">
                    <div class="panel panel-default">
                        <div class="panel-heading clearfix">
                            Other Areas
                        </div>
                        <table id="otherAreas" class="table table-bordered table-hover" width="100%">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <td colspan="3">
                                        <form class="multi-form" action="/admin/element/{{ $element.Id }}/area/add" method="post">
                                            <input class="multi-input" type="hidden" name="areaIds">
                                            <button class="btn btn-success btn-xs disabled pull-right multi-submit" type="button">Add Selected</button>
                                        </form>
                                    </td>
                                </tr>
                            </tfoot>
                            <tbody>
                                {{ range $area := .otherAreas }}
                                    <tr class="clickable" data-url="/admin/element/{{ $element.Id }}/area/{{ $area.Id }}/question">
                                        <td>{{ $area.Name }}</td>
                                        <td>{{ $area.Description }}</td>
                                        <td class="text-right no-click">
                                            <button class="btn btn-default btn-xs multi" data-value="{{ $area.Id }}">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </td>
                                    </tr>
                                {{ end }}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        {{ template "scripts.tmpl" . }}

        {{ template "element-form.tmpl" . }}

        <script src="/static/js/datatables-custom.js" charset="utf-8"></script>
        <script src="/static/js/multi-select.js" charset="utf-8"></script>

        <script type="text/javascript">
            confirm.yes = function(btn) {
                $('<form method="post" action="' + btn.attr('data-url') + '"><input name="areaId" value="'  + btn.attr('data-id') +  '"></form>').appendTo('body').submit();
            }
        </script>

    </body>
</html>
